applications:
  # Bootstrap Project
  - name: bootstrap
    enabled: true
    source: https://redhat-cop.github.io/helm-charts
    chart_name: bootstrap-project
    source_ref: "1.0.1"
    values:
      serviceaccounts: ""
      # student is the GROUP NAME in IDM
      bindings: &binds
        - name: student
          kind: Group
          role: admin
        - name: jenkins
          kind: ServiceAccount
          role: admin
          namespace: sefazmg-ci-cd
      namespaces:
        - name: sefazmg-ci-cd
          bindings: *binds
          operatorgroup: true
        - name: sefazmg-dev
          bindings: *binds
          operatorgroup: true
        - name: sefazmg-test
          bindings: *binds
          operatorgroup: true
        - name: sefazmg-stage
          bindings: *binds
          operatorgroup: true

  # Jenkins
  - name: jenkins
    enabled: true
    source: https://github.com/redhat-cop/helm-charts.git
    source_path: charts/jenkins
    source_ref: "jenkins-1.0.13"
    values:
      buildconfigs:
        # Jenkins S2I from Red Hat Labs
        - name: jenkins
          strategy_type: "Source"
          source_repo: https://github.com/rht-labs/s2i-config-jenkins.git
          source_repo_ref: master
          source_context_dir: '/'
          builder_image_kind: "DockerImage"
          builder_image_name: quay.io/openshift/origin-jenkins
          builder_image_tag: "4.12"
        # Jenkins agents for running builds etc
        # default names, versions, repo and paths set on the template
        - name: jenkins-agent-npm
        - name: jenkins-agent-mvn
        - name: jenkins-agent-helm
        - name: jenkins-agent-argocd
      deployment:
        env_vars:
          - name: GITLAB_DEFAULT_BRANCH
            value: 'main'
          - name: GITLAB_HOST
            value: ''
          - name: GITLAB_GROUP_NAME
            value: ''
          - name: GIT_SSL_NO_VERIFY
            value: "true"
          - name: JAVA_ARGS
            value: '-Dorg.jenkinsci.plugins.gitclient.GitClient.untrustedSSL=true'
          - name: BISCUITS
            value: 'jaffa-cakes'
      persistence: false
      source_secrets:
        - name: nexus-password
          username: admin
          password: admin123

  # Nexus
  - name: nexus
    enabled: true
    source: https://redhat-cop.github.io/helm-charts
    chart_name: sonatype-nexus
    source_ref: "1.1.12"
    values:
      includeRHRepositories: false
      service:
        name: nexus


  # Sealed Secrets
  - name: sealed-secrets
    enabled: true
    source: https://redhat-cop.github.io/helm-charts
    chart_name: helper-sealed-secrets
    source_ref: "1.0.3"
    values:
      secrets:
        # Additional secrets will be added to this list throughout the exercises.
        - name: git-auth
          type: kubernetes.io/basic-auth
          annotations:
            tekton.dev/git-0: https://gitlab-ce.apps.cluster-b65lf.b65lf.sandbox5265.opentlc.com
          labels:
            credential.sync.jenkins.openshift.io: "true"
          data:
            username: AgAxlJ0PDAg+AgAQMl+dUjJ+YDITpprvUKcX6gp2M//H+ZouWoJ4qfJOkibyTNttdOXp0bPWxXNnOq1Q8rI1uLM8ae0LFU+V5HdnLgcNCxPobmsjdgq/42f3N1lqQhxUgz0gyKEf4zsyeNHnAmDnTdhN94NdGYVAC3s5X0IsWiwDO6MMMutWO8wkT0jMfSbKmRrDR1c9NzYlH6xNMCBPFv2HMaj4rk0TRLSTpKgry7AyzjMZJ9/bESy/Y6loYVIzWjbTSBpvclDoxgn0k0XGm/sUXvinRqp7pCCr8WJQhvzA7v9QzzQp/GKi+GYo4KAT5M4rFZzqS+OsWAnECFdLUm72cwfMedTtExs8VasCgCqJBsxxtG0xKatZwzUCSSj+eaQy92J78H61w/rPumg+J5YgB+VNUj6h86bAqvswV0+voCGdinFsEyIr9e4g4ASwn+3ZF6J1juh/RaRJBC5lL5Og/s11xfWdOoRz9+nq1y5C2z80ixiNIWJt5K2Zdez94FbXp3bMeiTmu9bj9RS7Nito83LHTtuzQex+4umrLYqWZXnh/T8tZQ28eiKIRTjcbBuq8eMQxw/qvnSTASs112dbr2FGUettDURiPrD0onc7Js9gn//dEu+lGxY5q8yfXWYzPNIqXX+P6CUWypk1Cyhmqpl5XaNFu3Dk5RGsxB4LSQy0KBBSzJwRuc+i3NyxA2c7BN4qIQ==
            password: AgAXSn7a79oiTCPQlBaYi4r7JOSSwnm5CggTx4Gy4sbOwCWqkTeh+u/xvPWiVGpoPQi0HIpa6ofXym2LvnS3wHYhi2/52spIyr1lnzWYGLg9+HVoesaqVlTbnRfYuvuQ3/lvahm4EyKt34E0WTIkbDDoE0d8qMdpB1aa/2JR1Oq4iWfPda3bk8PCY8S69aByfvCObM2fz56iydGz8mYx61F3jZQeOZSMurtEvVzWy2kAzi5pclAbSV1Im+2DoOR2rViLZxZnvTpQqCseA6yVLc0o1qH0oEq8LzDrTvymD6q9nKj+nC8Rt0psXI2y7tC0RetS2h7C/oeQYReJOKVj9PdyWEcpzhCF9Xq0sHChxXTgaAbV8sZucY+nvkFV3KW/Ymf/qbVDEVLjNM1o6NRtJBqXJC9Rh+C4zFuwgWcFoZ3Hy4DcGjHyGc2MOgQb65Zl0owMYa3NLGhNIrJ5SkNehBc7O+uERNTnzifPnjrVcScvf0UBZ7UGf56IX9Qq5r7Ll8PRIrioTagPgwEMvra0onDn/TFqgNxut32jcncuaqOxTK8Y3M8JGUN9S5XhE+PEk8XgReOG4LnQ1oBwuP2HS9yFZCwcei+c3p+V5dStonjX9EpJZ7bJhZjwAT+N/K/kePCLzD1MBvr2bncqfazuO707dftvtBKTkcn2F3j51yt1w1mBlAbqqbVcVig3+SFnsTMONtdZWXp1j6RxUdWMVfNkH4NcrwigE+wCH4CADr0X8/D9eHrkSXJRn+eSjN8AaWc6dcw=



  # Tekton Pipelines


  # Sonarqube


  # Grafana


  # Allure


  # Matomo


  # Zalenium


  # StackRox
